---
// Styles
import "../styles/global.css";

// Layout
import MainLayout from "./MainLayout.astro";

// Components
// import Hero from "../components/Hero.astro";
import BlogPostHeader from "../components/BlogPostHeader.astro";

// Utils
// import { formatDate } from "../js/utils";

// Props
const { frontmatter } = Astro.props;
const { title, date, author, image, description, categories } = frontmatter;
---

<MainLayout title="CEPRODIDE - Blog" content={description} style="main-blog">
  <BlogPostHeader {title} {author} {categories} {date} {image} />
  <div class="blog--content-container">
    <div class="blog--content">
      <slot />
    </div>
  </div>
</MainLayout>

<style>
  .blog--content-container {
    max-width: 80%;
    margin: 3rem auto;
  }

  .blog--content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media screen and (min-width: 760px) {
    .blog--content-container {
      margin: 5rem auto;
    }

    .blog--content {
      gap: 2.5rem;
    }
  }
</style>
