---
// Styles
import "../styles/global.css";

// Components
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

//Props
interface Props {
  title?: string;
  content?: string;
  style?: "main" | "main-blog";
}

const {
  title = "CEPRODIDE",
  content = "Centro de Proyecto, Diseño y Desarrollo. Facultad de Arquitectura, Diseño y Urbanismo, Universidad de Buenos Aires (FADU-UBA)",
  style = "main",
} = Astro.props as Props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-uba.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={content} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ceprodide.com.ar" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={content} />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dgixc3e9z/image/upload/v1678804701/website-ceprodide/metatags/metatags-ceprodide_kqoceq.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://ceprodide.com.ar" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={content} />
    <meta
      property="twitter:image"
      content="https://res.cloudinary.com/dgixc3e9z/image/upload/v1678804701/website-ceprodide/metatags/metatags-ceprodide_kqoceq.png"
    />
  </head>
  <body>
    <Navbar />
    <main class={style}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
